#gameBoard{
    border: solid black thin;
}
td{
    border: solid black thin;
    height: 100px;
    width: 100px;
}
#deck{
    border: dashed black medium;
    width: 103px;
    height: 103px;

    position: absolute;
    top: 325px;
    left: 725px;

    text-align: center;
}