/*
color scheme for mazard
#D4DDF7 (white/grey)
#D4DDF7 (blue)
#FE2712 (red)
#FEFE33 (yellow)
#340D09 (brown?)
*/
body{
    align-content: flex-start;
}

#homeBase {
    position: relative;
}

#gameBoard{
    border: solid black thin;
    border-collapse: collapse;
    position: absolute;
}
td{
    border: solid black thin;
    height: 100px;
    width: 100px;
    text-align: center;
}
#deck{
    border: dashed black medium;
    width: 103px;
    height: 103px;

    position: absolute;
    top: 325px;
    left: 725px;

    text-align: center;
}
#rotateCCW {
    border: solid black thick;
    position: absolute;
    top: 450px;
    left: 725px;
    width: 103px;
    height: 75px;
    text-align: center;
    line-height: 37.5px;
    display: none;
}

#rotateCW {
    border: solid black thick;
    position: absolute;
    top: 550px;
    left: 725px;
    width: 103px;
    height: 75px;
    text-align: center;
    line-height: 37.5px;
    display: none;
}

#setRotate {
    border: solid black thick;
    position: absolute;
    top: 450px;
    left: 850px;
    width: 103px;
    height: 75px;
    text-align: center;
    line-height: 37.5px;
    display: none;
}

#newLevel {
    border: solid black thick;
    position: absolute;
    top: 200px;
    left: 725px;
    width: 103px;
    height: 75px;
    text-align: center;
    line-height: 37.5px;
    display: none;
}

#playerSelect {
    position: absolute;
    top: 25px;
    left: 850px;
    width: 535px;
    height: 445px;
    border: thick black solid;
    display: inline-flex;
    background-color: #D4DDF7;
}
    
#currentLevel {
    position: absolute;
    top: 50px;
    left: 725px;
    width: 103px;
    height: 75px;
    text-align: center;
    line-height: 37.5px;
}

.playerOptions{
    width: 100px;
    height: 100px;
    border:thin black solid;
    margin-top: 20px;
    margin-left: 20px;
    background-repeat: no-repeat;
    align-content: center;
    padding-left: 50px;
    padding-top: 50px;
    position: relative;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    top:0;
    background-color: #340D09;
    width: 150px;
    height: 0;
    transition: .5s ease;
}
#playerOption1Stats{
    display: none;
    white-space: nowrap;
    color: #D4DDF7;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
}
#playerOption2Stats{
    display: none;
    white-space: nowrap;
    color: #D4DDF7;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
}
#playerOption3Stats{
    display: none;
    white-space: nowrap;
    color: #D4DDF7;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
}
.playerOptions:hover .overlay {
    bottom: 0;
    height: 100%;

}
.playerOptions:hover  #playerOption1Stats{
    display: inline;
}
.playerOptions:hover  #playerOption2Stats{
    display: inline;
}
.playerOptions:hover  #playerOption3Stats{
    display: inline;
}